@layer reset, base, layout, components, utilities;

@import url(./reset/reset.css) layer(reset);

@import url(./base/fonts.css) layer(base);
@import url(./base/variables.css) layer(base);
@import url(./base/global.css) layer(base);

@import url(./layout/layout.css) layer(layout);

@import url(./components/theme.css) layer(components);
@import url(./components/card.css) layer(components);

.thanks {
  background-color: var(--BGCOLOR-THANKS);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 1.5em;
  padding-block-start: 9.3em;
  padding-block-end: 2.5em;
}

.thanks__icon {
  margin-block-end: 2.3em;
}

.thanks__title {
  color: var(--FONT-COLOR-THANKS-TITLE);
  font-weight: 700;
  font-size: clamp(2.5rem, 0.0385rem + 3.8462vw, 3.5rem);
  line-height: 1;
  margin-block-end: 0.55em;
}

.thanks__content {
  color: var(--FONT-COLOR-THANKS-CONTENT);
  font-weight: 400;
  line-height: 1.5;
}

.thanks__email {
  color: var(--FONT-COLOR-THANKS-EMAIL);
  font-weight: 700;
}

.thanks__dismiss {
  background-color: var(--BGCOLOR-THANKS-DISMISS);
  width: 100%;
  padding: 1.075em;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  color: var(--FONT-COLOR-THANKS-DISMISS);
  font-weight: 700;
}

.thanks__dismiss:hover,
.thanks__dismiss:focus-visible {
  background-image: var(--GRADIENT-THANKS-DISMISS);
}

/** || UTILITY CLASSES */
.dark {
  /* COLORS */
  --BGCOLOR: hsl(234, 29%, 10%);
  --BGCOLOR-MAIN: hsl(234, 29%, 12%);
  --BGCOLOR-CARD: hsl(234, 29%, 18%);
  --BGCOLOR-CARD-INPUT: hsl(234, 29%, 22%);
  --BGCOLOR-CARD-INPUT-INVALID: hsl(4, 60%, 20%);
  --BGCOLOR-CARD-SUBSCRIBE: hsl(4, 90%, 60%);
  --BGCOLOR-THANKS: hsl(234, 29%, 18%);
  --BGCOLOR-THANKS-DISMISS: hsl(4, 90%, 60%);
  --FONT-COLOR-CARD-TITLE: hsl(0, 0%, 100%);
  --FONT-COLOR-CARD-DESCRIPTION: hsl(0, 0%, 85%);
  --FONT-COLOR-CARD-LIST-TEXT: hsl(0, 0%, 85%);
  --FONT-COLOR-CARD-LABEL: hsl(0, 0%, 95%);
  --FONT-COLOR-CARD-INVALID: hsl(4, 100%, 70%);
  --FONT-COLOR-CARD-INPUT: hsl(0, 0%, 95%);
  --FONT-COLOR-CARD-INPUT-INVALID: hsl(4, 100%, 70%);
  --FONT-COLOR-CARD-INPUT-PLACEHOLDER: hsl(0, 0%, 65%);
  --FONT-COLOR-CARD-SUBSCRIBE: #fff;
  --FONT-COLOR-THANKS-TITLE: hsl(0, 0%, 100%);
  --FONT-COLOR-THANKS-CONTENT: hsl(0, 0%, 85%);
  --FONT-COLOR-THANKS-EMAIL: hsl(0, 0%, 100%);
  --FONT-COLOR-THANKS-DISMISS: #fff;
  --COLOR-CARD-ICON: hsl(4, 100%, 67%);
  --BORDER-COLOR-CARD-INPUT: hsl(0, 0%, 45%);
  --BORDER-COLOR-CARD-INPUT-INVALID: hsl(4, 100%, 67%);
  --SHADOW-COLOR-CARD: 234deg 29% 5%;
  --SHADOW-COLOR-THANKS: 234deg 29% 5%;
  --GRADIENT-COLOR-CARD-SUBSCRIBE-1: #ff5575;
  --GRADIENT-COLOR-CARD-SUBSCRIBE-2: #ff6b5c;
  --GRADIENT-COLOR-THANKS-DISMISS-1: #ff5575;
  --GRADIENT-COLOR-THANKS-DISMISS-2: #ff6b5c;

  /* THEME TOGGLE COLORS */
  --FONT-COLOR-THEME-ICON-DARK: #f1f1f1;
  --BGCOLOR-THEME: hsl(234, 29%, 18%);
  --BGCOLOR-THEME-BUTTON: hsl(234, 29%, 18%);
  --BGCOLOR-THEME-BUTTON-AFTER: #f1f1f1;
  --BORDER-COLOR-THEME-BUTTON: #666;
  --SHADOW-COLOR-THEME: rgba(255, 255, 255, 0.2);
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  display: none;
}

/** || MEDIA QUERY (DEVICE WIDTH) */

@media screen and (min-width: 64rem) {
  .thanks {
    padding-inline: 4rem;
    padding-block-start: 3rem;
    padding-block-end: 4rem;
    max-width: 31.5rem;
    min-height: 32.5rem;
    border-radius: 35px;
    box-shadow: var(--BOX-SHADOW-THANKS);
  }

  .thanks__title {
    margin-block-end: 0.4em;
  }
}

/** || MEDIA QUERY (REDUCED MOTION) */
/* CHANGE THE DATA BELOW AS NEEDED */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  body,
  .main,
  .card,
  .thanks {
    transition: var(--TRANSITION-BACKGROUND-COLOR);
  }

  .card__title,
  .card__description,
  .card__icon,
  .card__list-text,
  .card__label,
  .card__invalid,
  .card__input::placeholder,
  .thanks__title,
  .thanks__content,
  .thanks__email {
    transition: var(--TRANSITION-COLOR);
  }

  .card__list {
    transition: var(--TRANSITION-TRANSFORM-100MS);
  }

  .card__input {
    transition: var(--TRANSITION-BORDER-COLOR), var(--TRANSITION-COLOR),
      var(--TRANSITION-BACKGROUND-COLOR);
  }

  .card__input.invalid {
    transition: var(--TRANSITION-BORDER-COLOR), var(--TRANSITION-COLOR),
      var(--TRANSITION-BACKGROUND-COLOR);
  }

  .card__subscribe,
  .thanks__dismiss {
    transition: var(--TRANSITION-BACKGROUND-COLOR), var(--TRANSITION-COLOR);
  }

  .theme {
    transition: var(--TRANSITION-BOX-SHADOW), var(--TRANSITION-BACKGROUND-COLOR);
  }

  .theme__button {
    transition: var(--TRANSITION-BACKGROUND-COLOR),
      var(--TRANSITION-BORDER-COLOR);
  }

  .theme__button::after {
    transition: var(--TRANSITION-TRANSFORM-150MS),
      var(--TRANSITION-BACKGROUND-COLOR);
  }

  .theme__icon {
    transition: var(--TRANSITION-OPACITY);
  }

  .shake {
    animation: shake 0.4s ease;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-3px);
    }
    40% {
      transform: translateX(3px);
    }
    60% {
      transform: translateX(-1px);
    }
    80% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
  }

  @keyframes fadeOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-10px);
      opacity: 0;
    }
  }

  .fade-in {
    animation: fadeIn 0.3s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto !important;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    animation-delay: 0.001ms !important;
    animation-iteration-count: 1 !important;
    animation: none !important;
    transition-duration: 0.001ms !important;
    transition-delay: 0.001ms !important;
    transition: none !important;
    caret-color: auto !important;
  }
}
