@layer reset, base, layout, components, utilities;

@import url(./reset/reset.css) layer(reset);

@import url(./base/fonts.css) layer(base);
@import url(./base/variables.css) layer(base);
@import url(./base/global.css) layer(base);

@import url(./layout/layout.css) layer(layout);

@import url(./components/theme.css) layer(components);
@import url(./components/card.css) layer(components);
@import url(./components/thanks.css) layer(components);

/** || UTILITY CLASSES */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  display: none;
}

/** || MEDIA QUERY (REDUCED MOTION) */
/* CHANGE THE DATA BELOW AS NEEDED */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  body,
  .main,
  .card,
  .thanks {
    transition: var(--TRANSITION-BACKGROUND-COLOR);
  }

  .card__title,
  .card__description,
  .card__icon,
  .card__list-text,
  .card__label,
  .card__invalid,
  .card__input::placeholder,
  .thanks__title,
  .thanks__content,
  .thanks__email {
    transition: var(--TRANSITION-COLOR);
  }

  .card__list {
    transition: var(--TRANSITION-TRANSFORM-100MS);
  }

  .card__input {
    transition: var(--TRANSITION-BORDER-COLOR), var(--TRANSITION-COLOR),
      var(--TRANSITION-BACKGROUND-COLOR);
  }

  .card__input.invalid {
    transition: var(--TRANSITION-BORDER-COLOR), var(--TRANSITION-COLOR),
      var(--TRANSITION-BACKGROUND-COLOR);
  }

  .card__subscribe,
  .thanks__dismiss {
    transition: var(--TRANSITION-BACKGROUND-COLOR), var(--TRANSITION-COLOR);
  }

  .theme {
    transition: var(--TRANSITION-BOX-SHADOW), var(--TRANSITION-BACKGROUND-COLOR);
  }

  .theme__button {
    transition: var(--TRANSITION-BACKGROUND-COLOR),
      var(--TRANSITION-BORDER-COLOR);
  }

  .theme__button::after {
    transition: var(--TRANSITION-TRANSFORM-150MS),
      var(--TRANSITION-BACKGROUND-COLOR);
  }

  .theme__icon {
    transition: var(--TRANSITION-OPACITY);
  }

  .shake {
    animation: shake 0.4s ease;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-3px);
    }
    40% {
      transform: translateX(3px);
    }
    60% {
      transform: translateX(-1px);
    }
    80% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
  }

  @keyframes fadeOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-10px);
      opacity: 0;
    }
  }

  .fade-in {
    animation: fadeIn 0.3s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto !important;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    animation-delay: 0.001ms !important;
    animation-iteration-count: 1 !important;
    animation: none !important;
    transition-duration: 0.001ms !important;
    transition-delay: 0.001ms !important;
    transition: none !important;
    caret-color: auto !important;
  }
}
