/** || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

/** || FONTS */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-v49-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto-v49-latin-700.woff2") format("woff2");
}

/** || VARIABLES */
/* CHANGE THE DATA BELOW AS NEEDED */
:root {
  /* FONTS */
  --FF: "Roboto", sans-serif;
  --FS: 1rem;

  /* COLORS */
  --BGCOLOR-MAIN: hsl(235, 18%, 26%);
  --BGCOLOR-CARD: #fff;
  --BGCOLOR-CARD-SUBSCRIBE: hsl(234, 29%, 20%);
  --BGCOLOR-THANKS: #fff;
  --BGCOLOR-THANKS-DISMISS: hsl(234, 29%, 20%);
  --FONT-COLOR-CARD-TITLE: hsl(234, 29%, 20%);
  --FONT-COLOR-CARD-DESCRIPTION: hsl(235, 18%, 26%);
  --FONT-COLOR-CARD-LIST-TEXT: hsl(235, 18%, 26%);
  --FONT-COLOR-CARD-LABEL: hsl(234, 29%, 20%);
  --FONT-COLOR-CARD-INVALID: hsl(4, 100%, 67%);
  --FONT-COLOR-CARD-INPUT: hsl(235, 18%, 26%);
  --FONT-COLOR-CARD-INPUT-PLACEHOLDER: hsl(0, 0%, 58%);
  --FONT-COLOR-CARD-SUBSCRIBE: #fff;
  --FONT-COLOR-THANKS-TITLE: hsl(234, 29%, 20%);
  --FONT-COLOR-THANKS-CONTENT: hsl(235, 18%, 26%);
  --FONT-COLOR-THANKS-EMAIL: hsl(234, 29%, 20%);
  --FONT-COLOR-THANKS-DISMISS: #fff;
  --COLOR-CARD-ICON: #ff6155;
  --BORDER-COLOR-CARD-INPUT: hsl(0, 0%, 58%);
  --SHADOW-COLOR-CARD: 235deg 26% 16%;
  --SHADOW-COLOR-THANKS: 235deg 26% 16%;
  --GRADIENT-COLOR-CARD-SUBSCRIBE-1: #ff5575;
  --GRADIENT-COLOR-CARD-SUBSCRIBE-2: #ff6b5c;

  /* THEME TOGGLE COLORS */
  --FONT-COLOR-THEME-ICON-LIGHT: #333;
  --BGCOLOR-THEME-BUTTON: #f1f1f1;
  --BGCOLOR-THEME-BUTTON-AFTER: #333;
  --BORDER-COLOR-THEME-BUTTON: #ccc;
  --SHADOW-COLOR-THEME: rgba(0, 0, 0, 0.3);

  /* BORDERS */
  --BORDER-THEME-BUTTON: 1px solid var(--BORDER-COLOR-THEME-BUTTON);
  --BORDER-CARD-INPUT: 1px solid var(--BORDER-COLOR-CARD-INPUT);

  /* SHADOWS */
  --BOX-SHADOW-THEME: 0 0 3px var(--SHADOW-COLOR-THEME);
  --BOX-SHADOW-CARD: 0.3px 0.5px 0.7px hsl(var(--SHADOW-COLOR-CARD) / 0.21),
    1px 2.1px 2.6px -0.4px hsl(var(--SHADOW-COLOR-CARD) / 0.21),
    1.8px 3.7px 4.6px -0.7px hsl(var(--SHADOW-COLOR-CARD) / 0.21),
    3px 6px 7.5px -1.1px hsl(var(--SHADOW-COLOR-CARD) / 0.21),
    4.7px 9.4px 11.8px -1.4px hsl(var(--SHADOW-COLOR-CARD) / 0.21),
    7.3px 14.6px 18.4px -1.8px hsl(var(--SHADOW-COLOR-CARD) / 0.21),
    11.1px 22.1px 27.8px -2.1px hsl(var(--SHADOW-COLOR-CARD) / 0.21),
    16.3px 32.5px 40.9px -2.5px hsl(var(--SHADOW-COLOR-CARD) / 0.21);
  --BOX-SHADOW-THANKS: 0.3px 0.5px 0.7px hsl(var(--SHADOW-COLOR-THANKS) / 0.21),
    1px 2.1px 2.6px -0.4px hsl(var(--SHADOW-COLOR-THANKS) / 0.21),
    1.8px 3.7px 4.6px -0.7px hsl(var(--SHADOW-COLOR-THANKS) / 0.21),
    3px 6px 7.5px -1.1px hsl(var(--SHADOW-COLOR-THANKS) / 0.21),
    4.7px 9.4px 11.8px -1.4px hsl(var(--SHADOW-COLOR-THANKS) / 0.21),
    7.3px 14.6px 18.4px -1.8px hsl(var(--SHADOW-COLOR-THANKS) / 0.21),
    11.1px 22.1px 27.8px -2.1px hsl(var(--SHADOW-COLOR-THANKS) / 0.21),
    16.3px 32.5px 40.9px -2.5px hsl(var(--SHADOW-COLOR-THANKS) / 0.21);

  /* GRADIENTS */
  --GRADIENT-CARD-SUBSCRIBE: linear-gradient(
    to right,
    var(--GRADIENT-COLOR-CARD-SUBSCRIBE-1),
    var(--GRADIENT-COLOR-CARD-SUBSCRIBE-2)
  );
}

/** || GENERAL STYLES */
html {
  font-size: var(--FS);
  font-family: var(--FF);
}

body {
  min-height: 100vh;
  background-color: var(--BGCOLOR);
}

/** || HEADER */
.theme {
  box-shadow: var(--BOX-SHADOW-THEME);
  background-color: transparent;
  border-radius: 50px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.theme__button {
  border: var(--BORDER-THEME-BUTTON);
  background-color: var(--BGCOLOR-THEME-BUTTON);
  border-radius: 100px;
  width: 2.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme__button::after {
  content: "";
  background-color: var(--BGCOLOR-THEME-BUTTON-AFTER);
  position: absolute;
  left: 0;
  top: 0.225rem;
  bottom: 0.225rem;
  width: 1rem;
  border-radius: 100px;
  transform: translateX(0.2rem);
}

.theme__button.active::after {
  transform: translateX(1.1rem);
}

.theme__icon {
  opacity: 1;
  width: 1.125rem;
}

.theme__icon--light {
  color: var(--FONT-COLOR-THEME-ICON-LIGHT);
}

.theme__icon--dark {
  color: var(--FONT-COLOR-THEME-ICON-DARK);
}

/** || MAIN */
.main {
  background-color: var(--BGCOLOR-MAIN);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  max-width: 30.625rem;
  margin-inline: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--BGCOLOR-CARD);
  min-height: 100vh;
  width: 100%;
}

.card__picture {
  width: 100%;
  max-width: 30.625rem;
}

.card__hero {
  width: 100%;
}

.card__content {
  padding-block-start: 2.25rem;
  padding-inline: 1.5rem;
  padding-block-end: 2.25rem;
}

.card__title {
  font-weight: 700;
  color: var(--FONT-COLOR-CARD-TITLE);
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 0.0385rem + 3.8462vw, 3.5rem);
  margin-block-end: 0.45em;
}

.card__description {
  font-weight: 400;
  color: var(--FONT-COLOR-CARD-DESCRIPTION);
  line-height: 1.5;
  margin-block-end: 1.65em;
}

.card__features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.725em;
  margin-block-end: 2.6em;
}

.card__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}

.card__icon {
  color: var(--COLOR-CARD-ICON);
  width: 100%;
  max-width: 1.3125rem;
  height: auto;
}

.card__list-text {
  color: var(--FONT-COLOR-CARD-LIST-TEXT);
  font-size: 1rem;
  line-height: 1.45;
}

.card__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card__label-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin-block-end: 0.6em;
}

.card__label {
  color: var(--FONT-COLOR-CARD-LABEL);
  font-weight: 700;
  font-size: 0.75rem;
}

.card__invalid {
  color: var(--FONT-COLOR-CARD-INVALID);
  font-weight: 700;
  font-size: 0.75rem;
  position: absolute;
  display: block;
  min-width: max-content;
  right: 0;
}

.card__input {
  border: var(--BORDER-CARD-INPUT);
  color: var(--FONT-COLOR-CARD-INPUT);
  padding: 1.1em 1.5em;
  width: 100%;
  border-radius: 8px;
  margin-block-end: 1.5em;
}

.card__input::placeholder {
  color: var(--FONT-COLOR-CARD-INPUT-PLACEHOLDER);
}

.card__subscribe {
  background-color: var(--BGCOLOR-CARD-SUBSCRIBE);
  color: var(--FONT-COLOR-CARD-SUBSCRIBE);
  font-weight: 700;
  width: 100%;
  border-radius: 8px;
  padding: 1.1em 1.1em 1em;
  user-select: none;
  cursor: pointer;
}

.card__subscribe:hover,
.card__subscribe:focus-visible {
  background-image: var(--GRADIENT-CARD-SUBSCRIBE);
}

.thanks {
  background-color: var(--BGCOLOR-THANKS);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 1.5em;
  padding-block-start: 9.3em;
  padding-block-end: 2.5em;
}

.thanks__icon {
  margin-block-end: 2.3em;
}

.thanks__title {
  color: var(--FONT-COLOR-THANKS-TITLE);
  font-weight: 700;
  font-size: clamp(2.5rem, 0.0385rem + 3.8462vw, 3.5rem);
  line-height: 1;
  margin-block-end: 0.55em;
}

.thanks__content {
  color: var(--FONT-COLOR-THANKS-CONTENT);
  font-weight: 400;
  line-height: 1.5;
}

.thanks__email {
  color: var(--FONT-COLOR-THANKS-EMAIL);
  font-weight: 700;
}

.thanks__dismiss {
  background-color: var(--BGCOLOR-THANKS-DISMISS);
  width: 100%;
  padding: 1.075em;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  color: var(--FONT-COLOR-THANKS-DISMISS);
  font-weight: 700;
}

/** || UTILITY CLASSES */
.dark {
  --BGCOLOR: #333;
  /* ADD OTHER DARK COLOR THEME VARIABLES */

  /* THEME TOGGLE COLORS */
  --FONT-COLOR-THEME-ICON-DARK: #f1f1f1;
  --BGCOLOR-THEME-BUTTON: #222;
  --BGCOLOR-THEME-BUTTON-AFTER: #f1f1f1;
  --BORDER-COLOR-THEME-BUTTON: #666;
  --SHADOW-COLOR-THEME: rgba(255, 255, 255, 0.3);
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  display: none;
}

/** || MEDIA QUERY (DEVICE WIDTH) */
@media screen and (min-width: 48rem) {
  .card {
    border-radius: 15px;
    box-shadow: var(--BOX-SHADOW-CARD);
  }
}

@media screen and (min-width: 64rem) {
  /** || MAIN */
  .main__container {
    justify-content: center;
    margin-inline: auto;
    max-width: none;
  }

  .card {
    flex-direction: row;
    align-items: flex-start;
    min-height: auto;
    padding-block: 1.5rem;
    padding-inline-start: 4rem;
    padding-inline-end: 1.25rem;
    border-radius: 35px;
    gap: 4.25em;
  }

  .card__picture {
    order: 1;
    width: 100%;
    max-width: 25rem;
    position: relative;
    right: 0.25em;
  }

  .card__content {
    padding-inline: 0;
    padding-block-start: 4.1em;
    max-width: 23.5rem;
  }

  .card__title {
    margin-block-end: 0.3em;
  }

  .thanks {
    padding-inline: 4rem;
    padding-block-start: 3rem;
    padding-block-end: 4rem;
    max-width: 31.5rem;
    min-height: 32.5rem;
    border-radius: 35px;
    box-shadow: var(--BOX-SHADOW-THANKS);
  }

  .thanks__title {
    margin-block-end: 0.4em;
  }
}

/** || MEDIA QUERY (REDUCED MOTION) */
/* CHANGE THE DATA BELOW AS NEEDED */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  /* ADD OTHER TRANSITIONS AND ANIMATIONS HERE */

  .theme {
    transition: box-shadow 0.3s ease-in-out;
  }

  .theme__button {
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }

  .theme__button::after {
    transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out;
  }

  .theme__icon {
    transition: opacity 0.3s ease-in-out;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto !important;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    animation-delay: 0.001ms !important;
    animation-iteration-count: 1 !important;
    animation: none !important;
    transition-duration: 0.001ms !important;
    transition-delay: 0.001ms !important;
    transition: none !important;
    caret-color: auto !important;
  }
}
