.theme {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media screen and (min-width: 48rem) {
  .theme {
    left: auto;
    right: 1rem;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BGCOLOR-MAIN);
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  max-width: 30.625rem;
  margin-inline: auto;
}

@media screen and (min-width: 48rem) {
  .main__container {
    justify-content: center;
    margin-inline: auto;
    max-width: none;
  }
}
