.theme {
  box-shadow: var(--BOX-SHADOW-THEME);
  background-color: var(--BGCOLOR-THEME);
  border-radius: 50px;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.theme__button {
  border: var(--BORDER-THEME-BUTTON);
  background-color: var(--BGCOLOR-THEME-BUTTON);
  border-radius: 100px;
  width: 2.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme__button::after {
  content: "";
  background-color: var(--BGCOLOR-THEME-BUTTON-AFTER);
  position: absolute;
  left: 0;
  top: 0.225rem;
  bottom: 0.225rem;
  width: 1rem;
  border-radius: 100px;
  transform: translateX(0.2rem);
}

.theme__button.active::after {
  transform: translateX(1.1rem);
}

.theme__icon {
  opacity: 1;
  width: 1.125rem;
}

.theme__icon--light {
  color: var(--FONT-COLOR-THEME-ICON-LIGHT);
}

.theme__icon--dark {
  color: var(--FONT-COLOR-THEME-ICON-DARK);
}

.dark {
  /* COLORS */
  --BGCOLOR: hsl(234, 29%, 10%);
  --BGCOLOR-MAIN: hsl(234, 29%, 12%);
  --BGCOLOR-CARD: hsl(234, 29%, 18%);
  --BGCOLOR-CARD-INPUT: hsl(234, 29%, 22%);
  --BGCOLOR-CARD-INPUT-INVALID: hsl(4, 60%, 20%);
  --BGCOLOR-CARD-SUBSCRIBE: hsl(4, 90%, 60%);
  --BGCOLOR-THANKS: hsl(234, 29%, 18%);
  --BGCOLOR-THANKS-DISMISS: hsl(4, 90%, 60%);
  --FONT-COLOR-CARD-TITLE: hsl(0, 0%, 100%);
  --FONT-COLOR-CARD-DESCRIPTION: hsl(0, 0%, 85%);
  --FONT-COLOR-CARD-LIST-TEXT: hsl(0, 0%, 85%);
  --FONT-COLOR-CARD-LABEL: hsl(0, 0%, 95%);
  --FONT-COLOR-CARD-INVALID: hsl(4, 100%, 70%);
  --FONT-COLOR-CARD-INPUT: hsl(0, 0%, 95%);
  --FONT-COLOR-CARD-INPUT-INVALID: hsl(4, 100%, 70%);
  --FONT-COLOR-CARD-INPUT-PLACEHOLDER: hsl(0, 0%, 65%);
  --FONT-COLOR-CARD-SUBSCRIBE: #fff;
  --FONT-COLOR-THANKS-TITLE: hsl(0, 0%, 100%);
  --FONT-COLOR-THANKS-CONTENT: hsl(0, 0%, 85%);
  --FONT-COLOR-THANKS-EMAIL: hsl(0, 0%, 100%);
  --FONT-COLOR-THANKS-DISMISS: #fff;
  --COLOR-CARD-ICON: hsl(4, 100%, 67%);
  --BORDER-COLOR-CARD-INPUT: hsl(0, 0%, 45%);
  --BORDER-COLOR-CARD-INPUT-INVALID: hsl(4, 100%, 67%);
  --SHADOW-COLOR-CARD: 234deg 29% 5%;
  --SHADOW-COLOR-THANKS: 234deg 29% 5%;
  --GRADIENT-COLOR-CARD-SUBSCRIBE-1: #ff5575;
  --GRADIENT-COLOR-CARD-SUBSCRIBE-2: #ff6b5c;
  --GRADIENT-COLOR-THANKS-DISMISS-1: #ff5575;
  --GRADIENT-COLOR-THANKS-DISMISS-2: #ff6b5c;

  /* THEME TOGGLE COLORS */
  --FONT-COLOR-THEME-ICON-DARK: #f1f1f1;
  --BGCOLOR-THEME: hsl(234, 29%, 18%);
  --BGCOLOR-THEME-BUTTON: hsl(234, 29%, 18%);
  --BGCOLOR-THEME-BUTTON-AFTER: #f1f1f1;
  --BORDER-COLOR-THEME-BUTTON: #666;
  --SHADOW-COLOR-THEME: rgba(255, 255, 255, 0.2);
}
